{% load i18n wagtailcore_tags wagtailimages_tags puput_tags %}

<div class="row">
    <h2>{% trans 'Related Entries' %}</h2>
    <hr>
    {% for related_entry in entry.related|slice:':4' %}
        <div class="col-md-3">
            {% image related_entry.header_image fill-1000x240 class="img-fluid" %}
            <h3>
                <a href="{% entry_url related_entry blog_page %}">{{ related_entry.title }}</a>
            </h3>
            <p>
                {{ related_entry.excerpt|richtext|truncatewords:20 }}
            </p>
        </div>
    {% endfor %}
</div>
