{% load i18n wagtailimages_tags puput_tags %}

<div class="card mb-3">
    <div class="card-header">{% trans 'Recent Entries' %}</div>
    <div class="card-body py-1">
        <ul class="list-group list-group-flush">
            {% for entry in entries %}
            <li class="list-group-item px-0">
                <h5>
                    <a href="{% entry_url entry blog_page %}">{{ entry.title }}</a>
                </h5>
                <div class="d-flex">
                    <div>
                        <span class="fa fa-user"></span>
                        <small>{{ entry.owner.username }}</small>
                    </div>
                    <div class="ms-auto">
                        <span class="fa fa-calendar"></span>
                        <small>{{ entry.date|date:"SHORT_DATE_FORMAT" }}</small>
                    </div>
                </div>
            </li>
            {% empty %}
                {% trans 'No entries yet' %}
            {% endfor %}
        </ul>
    </div>
</div>